[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia .gitignore
Type=Link
URL=https://github.com/Yani18/entrenamiento.git_basico/blob/master/.gitignore
Icon=text-html
